@{
    ViewBag.Title = @Resources.ResourceAccademicYear.LblAccademicYear;
    Layout = "~/Views/Shared/_AdminViewLayout.cshtml";
}


<div class="col-xs-12 col-sm-12" ng-controller="accademicYearCtrl">

    @* ************ FORM - SECTION (Start)*************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceAccademicYear.LblAccademicYear</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>
                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 
                                           control-label default-color">
                                        <b class="starStyle">*
                                            </b> @Resources.ResourceAccademicYear.LblAccademicYear
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="number" name="AccademicYear1"              ng-model="AccademicYear1" required ng-maxlength="5"/>
                                    <b class="help-block" ng-if="form.AccademicYear1.                               $error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceAccademicYear.LblAccademicYear)
                                    </b>

                                    <b class="help-block" ng-if="form.AccademicYear1.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 
                                           control-label default-color">
                                        <b class="starStyle">*
                                        </b> @Resources.ResourceAccademicYear.LblAccadeWeekend1
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="number" name="Weekend1" 
                                           ng-model="Weekend1" required ng-maxlength="5"/>
                                    <b class="help-block" ng-if="form.Weekend1.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceAccademicYear.LblAccadeWeekend1)
                                    </b>

                                    <b class="help-block" ng-if="form.Weekend1.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 
                                           control-label default-color">
                                        <b class="starStyle">*
                                        </b> @Resources.ResourceAccademicYear.LblAccadeWeekend2
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="number" name="Weekend2" 
                                           ng-model="Weekend2" required ng-maxlength="5"/>
                                    <b class="help-block" ng-if="form.Weekend2.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceAccademicYear.LblAccadeWeekend2)
                                    </b>

                                    <b class="help-block" ng-if="form.Weekend2.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addAccademicYear()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave /> <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ************ FORM - SECTION (End)*************** *@



    @* ************ POP-UP MODEL (Start)*************** *@
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                @*<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>*@
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    @* ************ POP-UP MODEL (End)*************** *@



    @* ************ TABLE - SECTION (Start)*************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceAccademicYear.LblAccademicYear @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green  pt pb">
            <div class="row mb">
                <div class="col-sm-8 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ allAccademicYearFromDb.length}}</b> @Resources.ResourceAccademicYear.LblTotalAccademicYear
                    </div>
                </div>
                <div class="col-sm-4 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical text-right">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>

                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Resources.ResourceAccademicYear.LblAccademicYear 
                                        <a ng-click="sort_by('AccademicYear1');"><i class="glyphicon 
                                               glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceAccademicYear.LblAccadeWeekend1 
                                    <a ng-click="sort_by('Weekend1');"><i class="glyphicon                           glyphicon-sort-by-alphabet"></i></a></th> 

                                    @*<th>@Resources.ResourceAccademicYear.LblAccadeWeekend2 
                                    <a ng-click="sort_by('Weekend2');"><i class="glyphicon                             glyphicon-sort-by-alphabet"></i></a></th>*@

                                    <th>@Resources.ResourceCommon.LblEdit </th>
                                    <th>@Resources.ResourceCommon.LblDelete </th>
                                </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>@Resources.ResourceAccademicYear.LblAccademicYear 
                                    <a ng-click="sort_by('AccademicYear1');"><i class="glyphicon 
                                               glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceAccademicYear.LblAccadeWeekend1 
                                    <a ng-click="sort_by('Weekend1');"><i class="glyphicon                           glyphicon-sort-by-alphabet"></i></a></th> 

                                @*<th>@Resources.ResourceAccademicYear.LblAccadeWeekend2 
                                    <a ng-click="sort_by('Weekend2');"><i class="glyphicon                             glyphicon-sort-by-alphabet"></i></a></th>*@

                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allAccademicYearFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    <td>{{data.AccademicYear1 }}</td>
                                    <td>{{data.Weekend1 == 1? 'Friday':'Saterday'  }}</td>
                                    @*<td>{{data.Weekend2 }}</td>*@

                                    <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populateAccademicYear(data)" /></td>
                                    <td>
                                        <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm" ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                               ng-bootbox-confirm-action="deleteAccademicYear(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceAccademicYear.LblNoAccademicYearFound
                </div>
            </div>
        </div>
    </div>
    @* ************ TABLE - SECTION (End)*************** *@

</div>

@section scripts{
    <script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('accademicYearService', ['$http', function ($http) {

        return {
            saveAccademicYear: function (accademicYear) {
                return $http({
                    url: '/AccademicYear/CreateAccademicYear',
                    method: 'POST',
                    data: accademicYear
                });
            },
            getAccademicYear: function (id) {
                return $http.get('/AccademicYear/GetAccademicYear/' + id);
            },
            getAllAccademicYear: function () {
                return $http.get('/AccademicYear/GetAccademicYearList');
            },
            deleteAccademicYear: function (accademicYear) {
                return $http({
                    url: '/AccademicYear/DeleteAccademicYear',
                    method: 'POST',
                    data: accademicYear
                });
            }
        };
    }]);

    app.controller('accademicYearCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, accademicYearService, $log, $ngBootbox) {

        if ('@ViewBag.permission' == "NO") {
            $scope.NoPermission = true;
        }
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        loadAllAccademicYear();
        $scope.showModalforSearch = false;
        // Add a new accademicYear
        $scope.addAccademicYear = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var accademicYear = {};
                accademicYear["AccademicYear1"] = $scope.AccademicYear1;
                accademicYear["Weekend1"] = $scope.Weekend1;
                accademicYear["Weekend2"] = $scope.Weekend2;

                accademicYearService.saveAccademicYear(accademicYear)
                .then(function onSuccess(response) {
                    loadAllAccademicYear();
                    $scope.messageModalObj.message = response.data.message;
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    $scope.reset();
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            }
        };

        // Populate accademicYear
        $scope.selectedRow = null;
        $scope.populateAccademicYear = function (rowvalue) {
            $scope.selectedRow = rowvalue;
            $scope.AccademicYear1 = rowvalue.AccademicYear1;
            $scope.Weekend1 = rowvalue.Weekend1;
            $scope.Weekend2 = rowvalue.Weekend2;
            $location.hash('searchDivId');
            $anchorScroll();
            focus('focusMe');
        }

        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.selectedRow = null;
            $scope.AccademicYear1 = '';
            $scope.Weekend1 = '';
            $scope.Weekend2 = '';
        }

        $scope.deleteAccademicYear = function (accademicYear) {
            accademicYearService.deleteAccademicYear(accademicYear)
            .then(function onSuccess(response) {
                $scope.messageModalObj.message = response.data.message;
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                $scope.reset();
                loadAllAccademicYear();
            })
            .catch(function onError(response) {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
            });
        }

        // Load device type
        function loadAllAccademicYear() {
            $scope.allAccademicYearFromDb = [];
            accademicYearService.getAllAccademicYear()
                .then(function onSuccess(response) {
                    $scope.allAccademicYearFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.currentPage = 1; //current page
        $scope.entryLimit = 10; //max no of items to display in a page
        $scope.filteredItems = $scope.allAccademicYearFromDb.length; //Initially for no filter
        $scope.totalItems = $scope.allAccademicYearFromDb.length;
        //$scope.maxSize = 15;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };
    });
    </script>
}