
@{
    ViewBag.Title =@Resources.ResourceChangePassword.LblChangePassword;
    Layout = "~/Views/Shared/_UserViewLayout.cshtml";
    var roleId = Attendance.Web.Helpers.UserSession.GetUserFromSession().RoleId;
    if (roleId == 1)
    {
        Layout = "~/Views/Shared/_AdminViewLayout.cshtml";
    }
    else if (roleId == 2)
    {
        Layout = "~/Views/Shared/_AdminViewLayout.cshtml";
    }
    else if (roleId == 3)
    {
        Layout = "~/Views/Shared/_UserViewLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div ng-controller="passwordCtrl">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-horizontal" style="border: 10px solid #E2F4FB; border-radius: 15px;">
            <span class="section-title" style="font-weight: 900; text-align: center;">@Resources.ResourceChangePassword.LblChangePassword</span>
            <br/>
            <br/>
            <form name="form" novalidate>
                <div class="form-group" show-errors>
                    <div class="col-md-4 padding-right-zero right">
                        <label class="control-label default-color">
                            @Resources.ResourceChangePassword.LblOldPassword
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="OldPasswordFromUser" 
                               ng-model="OldPasswordFromUser" required autofocus/>
                        <b class="help-block" ng-if="form.OldPasswordFromUser.$error.required"> @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceChangePassword.LblOldPassword)
                        </b>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <div class="col-md-4 padding-right-zero right">
                        <label class="control-label default-color">
                            @Resources.ResourceChangePassword.LblNewPassword
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="NewPassword" type="password" ng-model="NewPassword" required
                               @*ng-pattern="@("/^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$/")"*@  />
                        <b class="help-block" ng-if="form.NewPassword.$error.required">@string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceChangePassword.LblNewPassword)</b>
                        @*<b ng-messages="form.NewPassword.$error"> <b ng-message="pattern">
                                Password should be atleast 8 characters long and should contain one number,one character and one special character </b>
                        </b>*@
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <div class="col-md-4 padding-right-zero right">
                        <label class="control-label default-color">
                            @Resources.ResourceChangePassword.LblConfirmPassword
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="ConfirmPassword" ng-model="ConfirmPassword" 
                               required data-password-verify="NewPassword"/>
                        <b class="help-block" ng-if="form.ConfirmPassword.$error.required">@string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceChangePassword.LblConfirmPassword)</b>
                        <b class="help-block" ng-if="form.ConfirmPassword.$error.passwordVerify">@string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceChangePassword.MsgPassworddoesnotmatch)</b>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <button ng-click="ChangePassword()" class="btn btn-primary">
                            @Resources.ResourceChangePassword.LblUpdatePassword <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
                <br/>
                <br/>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="my_modal_popup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title float-left">@Resources.ResourceChangePassword.MsgSuccess</h4>
                        <button type="button" class="btn btn-grey float-left" data-dismiss="modal"
                                style="position: absolute; right: 0; top: 0; height: 55px; font-size: 20px;">
                            &times;
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <p>{{messageModalObj.message}}</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        app.factory('passwordService',
            [
                '$http', function($http) {
                    return {
                        updatePassword: function (user) {
                            return $http({
                                url: '/Account/UpdatePassword',
                                method: 'POST',
                                data: user
                            });
                        },

                        checkLogin: function (user, timeZoneOffset, language) {
                            var parameters = { user: user, timeZoneOffset: timeZoneOffset, language: language };
                            return $http({
                                url: '/Account/CheckLogin',
                                method: 'POST',
                                dataType: "json",
                                data: JSON.stringify(parameters)
                            });
                        }
                    };
                }
            ]);
        app.controller('passwordCtrl',function($scope, passwordService, $timeout, $ngBootbox) {
            $scope.oldPasswordFromDb = '@Attendance.Web.Helpers.UserSession.GetUserFromSession().Password';
                $scope.ChangePassword = function() {
                    $scope.$broadcast('show-errors-check-validity');
                    if ($scope.form.$valid) {

                        var user = {};
                        user["Id"] = '@Attendance.Web.Helpers.UserSession.GetUserFromSession().Id';
                        user["LoginName"] = '@Attendance.Web.Helpers.UserSession.GetUserFromSession().LoginName';
                        user["Password"] = $scope.OldPasswordFromUser;

                        //authenticate user
                        var dateObj = new Date();
                        var timeZoneOffset = -(dateObj.getTimezoneOffset());
                        var language = $scope.language;
                        passwordService.checkLogin(user, timeZoneOffset, language)
                            .then(function onSuccess(data) {
                                //alert(data.UserId);
                                var userId = user.Id;
                                var userName = user.LoginName;
                                if (userId != null) {

                                    user["Password"] = $scope.NewPassword;
                                    user["Id"] = userId;
                                    user["LoginName"] = userName;
                                    passwordService.updatePassword(user)
                                        .then(function onSuccess(response) {
                                            if (response.data.isSuccess === true) {
                                                $ngBootbox.alert('@Resources.ResourceChangePassword.MsgPasswordupdatedsuccessfully');
                                                $timeout(function() {
                                                        window.location = "/";
                                                    },
                                                    3000);
                                            } else
                                                $ngBootbox.alert('@Resources.ResourceChangePassword.MsgCannotupdatepassword');
                                        });
                                } else
                                    $ngBootbox.alert('@Resources.ResourceChangePassword.MsgWrongoldpassword');
                            });

                    }
                };

                $scope.reset = function() {
                    $scope.Password = '';
                    $scope.ConfirmPassword = '';

                }
            });

    </script>
}
